*.fas
*.lib
*.fasl
*.lo
*.la
*.o
*.so
/doc/install.html
/Makefile.in
/aclocal.m4
/autom4te.cache
/stamp-h1
/missing
/m4/*.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/mg_test
/examples/example
/examples/load_parse.c
/super_load_parse.c
/super.dat
/examples/super.dat
/examples/super_load_parse.c
/.deps
/.libs
*.mgkcore*
/debian/files
/debian/libmotgram-dev/
/debian/libmotgram0/
/debian/tmp
/debian/*.log
/debian/*.substvars
/debian/*.debhelper
/motgramlisp.gz
/motgramlisp
/lisp.name
/debian/motgramlisp
/config.lisp
/motgram*.tar.gz
