/stamp-h1
/motgramlisp
/motgram-0.20120921.tar.gz
/missing
/mg_test
/lisp.name
/ltmain.sh
/libtool
/install-sh
/examples/super_load_parse.c
/examples/super.dat
/examples/load_parse.c
/m4
/debian/tmp
/debian/motgramlisp
/debian/libmotgram0
/debian/libmotgram-dev
/debian/files
/configure
/config.sub
/config.status
/config.log
/config.h.in
/config.h
/config.guess
/autom4te.cache
/aclocal.m4
/debian/libmotgram-dev.debhelper.log
/debian/libmotgram-dev.substvars
/debian/libmotgram0.debhelper.log
/debian/libmotgram0.postinst.debhelper
/debian/libmotgram0.postrm.debhelper
/debian/libmotgram0.substvars
/debian/motgramlisp.debhelper.log
/debian/motgramlisp.substvars
/depcomp
/examples/example
/config.lisp
/Makefile.in
/Makefile
