Source: motion-grammar-kit
Priority: extra
Maintainer: Neil Dantam <ntd@gatech.edu>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libach-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.golems.org/node/1224
Vcs-Git: git://github.com/golems/motion-grammar-kit.git
Vcs-Browser: https://github.com/golems/motion-grammar-kit

Package: libmotgram-dev
Section: libdevel
Architecture: any
Depends: libmotgram0 (= ${binary:Version}), ${misc:Depends}
Description: Format Language Tools for Robotics
 Header files for the C runtime library for motion-grammar-kit

Package: libmotgram0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libach0
Description: Format Language Tools for Robotics
 C runtime library for motion-grammar-kit

Package: motgramlisp
Section: lisp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Format Language Tools for Robotics
 Lisp image binary for language manipulation and code generation

